<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple blog application with articles and anonymous comments.</p>
  <hr class="my-4">
  <p>No sign in, no problem.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
</div>
